@charset "utf-8";
/* CSS Document */

body {
    background: white;
    color: black;
    font-family: serif;
}

nav {
    display: none;
}

footer {
    display: none;
}

section, header {
    width: 100%;
}

article {
    width: 95%;
}